.tenee-tile {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.lease-tile {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}

.post-header-avatar {
    border-radius: 50%;
    float: left;
    height: 50px;
    margin-right: 10px;
    width: 50px;
}

.post-header-username {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

